
body::-webkit-scrollbar{
    background-color: rgba(102, 102, 102, 0.84);
    width: 0.5rem;
    
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(160, 153, 56);
}

#imagem-topo{
    height: 80px;
}

#nav{
    background-color: rgba(255, 251, 127, 0.453);
}

.separar{
    display: flex;
}

/* image */
.personal-image {
    text-align: center;
  }
  .personal-image input[type="file"] {
    display: none;
  }
  .personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
  }
  .personal-avatar {
    cursor: pointer;
    width: 12px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
  }
  #img{
      width: 120px;
  }

  #titulo{
    color: rgb(199, 183, 58);
    display: flex;
    position: relative;
    justify-content: center;
  }

  .ncep{
    color: #b69269;
    display: flex;
    position: relative;
    justify-content: end;
  }